// kontakt side styling

//kontakt info styling

#kontakt_form {
    display:flex;
    margin-top: 100px;
    h2 {
        font-size: 50px;
    }
}

#kontakt_information {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}










@import '../global_variables/colors';
//colors

$darkGrey:#212323;

$red:#c1272d;

$brightGreen:#46F591;

$fontColor: #ffffff;

$linkColor: #3D7AC9;

// mail form styling

#kontakt_form #send_email {
    max-width: 500px;
    border-style: none;
    border-width: 5px;
    border-color: $darkPink;
    padding: 30px 40px 30px 40px;
    display: flex;
    flex-direction: column;
    h2 {
        margin-bottom: 20px;
        color: black;
        text-align: center;
    }
}
@media (min-width: 1000px) {
    #send_email {
        border-style: solid;
    }
}

#kontakt_form #submit_email {
all: initial;
background-color: $darkPink;
// height: 50px;
width: 250px;
border-radius: 10px;
text-align: center;
font-size: 30px;
cursor: pointer;
color: $darkGrey;
align-self: center;
margin-top: 10px;
padding: 10px;
}

#kontakt_form .form-field {
    background-color: white;
    transition-duration: 1s;
    border-color: $darkPink;
    border-width: 3.5px;
    border-radius: 5px;
    padding: 0.75rem;
    color: $darkGrey;
    font-size: 1rem;
    font-family: 'Times New Roman', Times, serif;
    transition: border 0.25s ease-in-out;
    flex-grow: 1;

    &:hover {
        border-color: $darkPink;
    }

    &:focus {
        border-color: white;
        outline: 0.25rem transparent;
        // box-shadow: 0 0 0 0.25rem $input-outline-color;
    }
    &:valid {
        border-color: $brightGreen;
    }
    
    &:not(:focus):not(:placeholder-shown):invalid {
      border-color: $red;
      animation: error;
      animation-duration: .4s;
    }
    
    &:not(:focus):not(:placeholder-shown):valid {
      border-color: $brightGreen;
    }
      
}

#kontakt_form .form-label {
    color: white;
    margin-bottom: 0.4rem;
    display: block;
    margin-left: 5px;
}

#kontakt_form .input-group {
    display: flex;
    flex-direction: row;
    position: relative;
    margin-bottom: 20px;

    > .form-field {
        padding-right: 2.5rem;

        // &:focus ~ .form-icon > svg {
        //     stroke: $red;
        // }
    }

    > .form-icon {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0.75rem;
        top: 0;
        bottom: 0;
        right: 0;

        > svg {
            stroke: $darkPink;
        }
    }
}

#kontakt_form button {
    height: 36px!important;
}

#kontakt_form .button_success {
    background-color: grey!important;
    display: flex!important;
    justify-content: center!important;
    padding: 10px 10px 10px 10px!important;
        svg{
        animation: success!important;
        animation-iteration-count: infinite!important;
        animation-timing-function: ease-in-out!important;
        animation-duration: 1.5s!important;
        }
}

#kontakt_form .post_success {
    display: flex!important;
    justify-content: center!important;
    padding: 10px 10px 10px 10px!important;
}

#kontakt_form .button_error {
    background-color: $red!important;
    animation: error!important;
    animation-duration: 0.4s!important;
    border: solid 1px $red!important;
    color: $darkGrey!important;
}

@keyframes success {
    20%{
        //do nothing
    }
    100% {
        transform: rotate(2turn);
    }
    
}
@keyframes error {
    10% {
        transform: translateX(-10px);
    }
    40% {
        transform: translateX(10px);
    }
    80% {
        transform: translateX(0px);
    }
}

#kontakt_form .fading_out_animation {
    animation: greenFadeOut!important;
    animation-duration: 1.5s!important;
    animation-timing-function: ease-in-out!important;
}

#kontakt_form .fading_in_animation {
    animation: greenFadeIn!important;
    animation-duration: 1s!important;
    animation-timing-function: ease-in-out!important;
}

@keyframes greenFadeOut {
    0%{
       stroke: $darkGrey;
    }
    100%{
       stroke: $brightGreen;
    }
}

@keyframes greenFadeIn {
    0%{
        color: $brightGreen;
    }
    100% {
        color: $darkGrey;
    }
}