.tidsbestilling_section {
    display: flex;
    justify-content: center;
    max-width: 1000px;
    margin: 0 auto;
    padding-top: 50px;

    .col_calendar {
        flex-grow: 3;
    }

    .col_bestilling {
        flex-grow: 1;
    }   
}


.dycalendar-month-container {
    .dycalendar-header {
        display: flex;
        justify-content: center;
        align-items: center;
        .dycalendar-prev-next-btn {
            top: auto;
        }
        .dycalendar-span-month-year {
            font-family: 'crimsontext';
            font-size: 40px;  
        }   
    }
    .dycalendar-target-date {
        background-color: #EDE3E3;
        color: #000;
        font-weight: 900;
    }
    

    .dycalendar-body {
        table {
            margin: 0 auto;
            tr td {
                height: 60px;
                width: 60px;
            }
        }
    }
} 