@import '../global_variables/colors';
@import '../global_variables/mediaquery.scss';
//navigation - Menu

nav {
    box-shadow: 5px 5px 10px 5px rgba(0,0,0,0.15);
    background-color: white;
    width: 100%;
    height: 65px;
    display: flex;
    justify-content: center;
    position: fixed;
    top:0;
    z-index: 1;
    
    .navContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 65px;
    min-width: 1100px;
    max-width: 1100px;
    position: fixed;
    top:0;
    z-index: 100;
    background-color: white;
    align-items: center;
}
}

#header_logo {
    height: 35px;
    margin-left: 50px;
    transition: 0.2s;
    width: auto;
    position: relative;
    z-index: 3;
}

#header_logo:hover {
    transform: scale(1.1,1.1);
}

.main_links {
    margin-left: 50px;
    width: 600px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    a {
        color: black;
        text-decoration: none;
        transition: 0.2s;
    }
    a:hover {
        color: $darkPink;
        transform: scale(1.1,1.1);
    }
}



// burger menu stuff
@media (min-width: $desktop){
    .site_links {
        display:none;
    }
    body {
        padding-top: 65px;
    }
}
@media (max-width: $mobile){
body {
    padding-top: 95px;
}
nav {
    height:95px;
    justify-content: flex-start;
    .navContainer {
    height: 95px;
    .main_links, .meny_book {
        display:none;
    }
    #header_logo {
        height:60px;
    }
}
}

.header {
    background-color: $babyPink;
    height: 8vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.site_links {
    position: fixed;
    width: 100vw;
    height:65vh;
    background-color:$babyPink;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    padding-top: 100px;
    padding-bottom: 15px;
    transition-duration: 1s;
    top:0;
    left:0;
    z-index: 1;
    .button_container {
        padding-left: 80px;
        display: flex;
        align-items: center;
        .button_border_light {
            width: 304px;
            height: 54px;
        }
        button {
            height: 50px;
            width: 300px;
            font-size: 25px;
            font-family: poppins-Bold;
        }
    }
    .navLink {
        display: flex;
        width: 100%;
        justify-content: flex-start;
    }
    a {
        color: #212323;
        font-size: 40px;
        padding-bottom: 10px;
        padding-left: 80px;
        white-space: nowrap;
        width: 100%;
        // height: 50px;
        text-align: start;
        border-style: solid;
        border-width: 2px;
        border-color: rgba(255,255,255,0.9);
        border-left: none;
        border-right: none;
        border-top: none;
        text-decoration: none;
    }
    
    
}

.hidden {
    display:none;
}

.activeIn {
    animation: slideIn;
    animation-duration: 0.5s;
    transition-timing-function: ease-out;

}

.activeOut {
    animation: slideOut;
    animation-duration: 0.5s;
    transition-timing-function: ease-in;
}

@keyframes slideIn {
    0% {
        left: 100vw;
        background-color: #ffffff;
    }
    50%{
        background-color: $babyPink;
    }
    100% {
        left: 0vw;
        
    }
}
@keyframes slideOut {
    0% {
        left: 0vw;
        background-color: $babyPink;
    }
    70%{
        background-color: #ffffff;
    }
    100% {
        left: 100vw;
        background-color: #ffffff;
       
    }
}


nav {
.btn {
    position: fixed;
    top: 5%;
    right: 0%;
    transform: translate(-50%, -50%);
    width: 50px;
    cursor: pointer;
    z-index: 2;
  }
  
  span {
    display: block;
    width: 100%;
    // box-shadow: 0 2px 10px 0 rgba(0,0,0,0.3);
    border-radius: 3px;
    height: 5px;
    background: $darkPink;
    transition: all .3s;
    position: relative;
  }
  
  span + span {
    margin-top: 10px;
  }
  
  .active span:nth-child(1) {
    animation: ease .7s top forwards;
  }
  
  .not-active span:nth-child(1) {
    animation: ease .7s top-2 forwards;
  }
  
  .active span:nth-child(2) {
    animation: ease .7s scaled forwards;
  }
  
  .not-active span:nth-child(2) {
    animation: ease .7s scaled-2 forwards;
  }
  
  .active span:nth-child(3) {
    animation: ease .7s bottom forwards;
  }
  
  .not-active span:nth-child(3) {
    animation: ease .7s bottom-2 forwards;
  }
  
  @keyframes top {
    0% {
      top: 0;
      transform: rotate(0);
    }
    50% {
      top: 22px;
      transform: rotate(0);
    }
    100% {
      top: 10px;
      transform: rotate(45deg);
    }
  }
  
  @keyframes top-2 {
    0% {
      top: 22px;
      transform: rotate(45deg);
    }
    50% {
      top: 22px;
      transform: rotate(0deg);
    }
    100% {
      top: 0;
      transform: rotate(0deg);
    }
  }
  
  @keyframes bottom {
    0% {
      bottom: 0;
      transform: rotate(0);
    }
    50% {
      bottom: 22px;
      transform: rotate(0);
    }
    100% {
      bottom: 20px;
      transform: rotate(135deg);
    }
  }
  
  @keyframes bottom-2 {
    0% {
      bottom: 22px;
      transform: rotate(135deg);
    }
    50% {
      bottom: 22px;
      transform: rotate(0);
    }
    100% {
      bottom: 0;
      transform: rotate(0);
    }
  }
  
  @keyframes scaled {
    50% {
      transform: scale(0);
    }
    100% {
      transform: scale(0);
    }
  }
  
  @keyframes scaled-2 {
    0% {
      transform: scale(0);
    }
    50% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
}
}
