@import '../global_variables/mediaquery.scss';
@import '../global_variables/colors.scss';

body {
    overflow-x: hidden;
    scroll-behavior: smooth;
}
.galleri {
    background-image: url(/public/images/navgalleri.png);
    background-size: 100% 20%;
    background-repeat: no-repeat;
    background-position: top;
    .filter_parent {
        overflow-x: scroll;
        padding-top: 20px;
        .filter:hover {
            background: radial-gradient($darkPink 0%, $babyPink 50%, #ffffff00 70%);
        }
        .filtre {
            cursor: pointer;
            width: auto;
            white-space:nowrap; 
            .filter_container {
                max-width: 1100px;
                margin: 10px 20px;
                display: inline-block;
                .filter {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                }
                img {
                    height: 70px;
                    width: auto;
                }
                p {
                    text-align: center;
                }
            }
        }
    }
    #container {
        margin: 0 auto;
        max-width: 1100px;
    }
}


/* Galleri */
.gallery-highlight {
    width: 100%;
}

#galleri_article {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #EDE3E3;
    margin: 20px 10px;
    padding: 30px;
}

.room-gallery {
    display: flex;
    flex-basis: 500px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.information {
    flex-basis: 500px;
    text-align: left;
    padding-top: 10px;
    h1 {
        text-align: left;
    }
    p {
        padding: 5px 0;
    }
    .singleview-pris {
        font-family: poppins-Bold;
        font-size: 25px;
    }
    
}

.room-preview {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    img {
        margin: 5px;
        width: 28%;
        opacity: 0.6;
        cursor: pointer;
        transition: opacity 0.4s ease;
    }
    img.room-active {
        opacity: 1;
    }
    
}

#galleri_article,
.room-gallery img,
.room-preview img {
    border-radius: 5px;
}

#suggestions {
    max-width: 1100px;
    margin: 0 auto;
    .single_double_galleri {
        padding: 10px 0;
    }
    .synes_om {
        margin: 10px;
        p {
            font-family: poppins-Bold;
            font-size: 20px;
        }
        
        .synes_om_container {
            overflow-x: scroll;
            display: -webkit-box;
            .single2 {
                width: 65%;
                margin-right: 10px;
                img {
                    border-radius: 5px;
                }
                a{
                    text-decoration: none;
                    color: black;
                }
                p {
                    text-align: center;
                }
            }
        }
    }
}

@media (min-width: $desktop) {
    .information {
        padding: 0 10px;
    }
    .gallery-highlight {
        width: 80%;
    }
    .room-preview {
        img {
            width: 23%;
        }
    }
    .galleri .filter_parent .filtre {
        display: flex;
        justify-content: center;
    }

    #galleri_article {
        margin: 20px 0;
    }

    #suggestions {
        .synes_om {
            margin: 10px 0;
            .synes_om_container {
                overflow-x: scroll;
                display: flex;
                margin-top: 20px;
                .single2 {
                    width: 100%;
                    margin-right: 20px;
                    
                }
                .single2:last-child {
                    margin-right: 0;
                }
            }
        }
    }



}

.valgt {
    background: radial-gradient(rgb(206, 166, 172) 0%, $babyPink 50%, #ffffff00 70%)!important;
}