//fonts and font family rules

//h1

@font-face {
    font-family: 'crimsontext';
    src: url('/fonts/crimsontext-semibolditalic-webfont.woff2');
}

h1, h2, h3 {
font-family: 'crimsontext';
font-size: 40px;
margin-bottom: 10px;
margin-top: 0;
}

@font-face {
    font-family: poppins;
    src: url('/fonts/poppins-regular-webfont.woff2');
}

p, td, a {
    font-family: poppins;
    font-size: 16px;
}

// special font for quotation
@font-face {
    font-family: oswald;
    src: url('/fonts/Oswald-Bold.woff2');
}

//h4 for reviews on landing page

@font-face {
    font-family: poppins-bold;
    src: url('/fonts/Poppins-SemiBold.woff2');
}

@font-face {
    font-family: poppins-Semibold;
    src: url('/fonts/Poppins-Bold.woff2');
}
@font-face {
    font-family: poppins-Medium;
    src: url('/fonts/Poppins-Medium.woff2');
}