//fonts and font family rules

//h1

@font-face {
    font-family: 'crimsontext';
    src: url('/fonts/crimsontext-semibolditalic-webfont.woff2');
}

h1, h2, h3 {
font-family: 'crimsontext';
font-size: 40px;
margin-bottom: 10px;
margin-top: 0;
}

//p

@font-face {
    font-family: poppins;
    src: url('/fonts/poppins-regular-webfont.woff2');
}

p, td {
    font-family: poppins;
    font-size: 16px;
}