

#progressSpacer {
    display: flex;
    justify-content: stretch;
    padding-left: 60px;
    padding-right: 60px;
    margin: auto;
    max-width: 900px;
}

#progressBar {
    margin: auto;
    width: 100%;
    margin-top: 30px;
    height: 50px;

    #barText {
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
    }

    #bar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
    }
}

.progressPoint {
    height: 20px;
    width: 20px;
    // background-color: rgb(182, 182, 182);
    border-radius: 100%;
    z-index: 2;
    background: linear-gradient(to right, #D2B7BB 50%, rgb(211, 211, 211) 50%);
    background-size: 200% 100%;
    background-position:right bottom;
}

.Point1 {
    margin-left: -10px;
    background-position:left bottom;
}
.Point3 {
    margin-right: -10px;
}

.space1, .space2 {
    height:10px;
    width: 50%;
    // background-color: rgb(205, 205, 205);
    z-index: 1;
    position: absolute;
    background: linear-gradient(to right, #D2B7BB 50%, rgb(222, 222, 222) 50%);
    background-size: 200% 100%;
    background-position:right bottom;
}

$babyPink:#EDE3E3;
$darkPink:#D2B7BB;

.space1 {
    left:0;
}
.space2 {
    right:0;
}

.Text1 {
    margin-left: -37px;
}

.Text2 {
    margin-left:15px
}

.Text3 {
    margin-right: -48px;
}

.progressAnimation {
    transition: 1s ease;
    background-position:left bottom;
}

.progressPointIsActive {
    background-position:left bottom;
}