@import '../global_variables/mediaquery.scss';
@import '../global_variables/colors.scss';

h1 {
    text-align: center;
}
h2 {
    font-size: 35px;
}

#prisliste {
    padding-top: 50px;
}

.prisliste_section {
    margin: 0 20px;
}

.container_table {
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
    grid-template-rows: repeat(2, 2fr);
    grid-column-gap: 50px;
    grid-row-gap: 30px;
    max-width: 1100px;
    margin: 0 auto;
}

table {
    .table {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        padding: 10px 0;
    }
    td:first-child {
        width: 45% ;
    }
    
    .single {
        padding: 5px 0;
        .behandlingspris,
        .varighed {
            white-space: nowrap;
            vertical-align: text-top;
            text-align: center;
        }
    }
    
}





@media (min-width: $desktop){
    #prisliste {
        .single_line {
            display: none;
        }
        .container_table {
            background-image: url("/public/illustrations/frame.png");
            background-size: 100% 100%;
            background-repeat: no-repeat;
            background-position: center;
            grid-template-columns: repeat(auto-fit, minmax(375px, 1fr));
            padding: 50px;

            align-items: flex-start;
        }
    }
}