@import '../global_variables/mediaquery.scss';
@import '../global_variables/colors.scss';

.video,
#information {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 20px;
    .single_line {
        margin-top: 30px;
        padding: 20px 0;
    }
}

.iframe-container {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%; 
    height: 0;
    iframe {
        position: absolute;
        top:0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

  .container_ewa {
      display: flex;
      flex-wrap: wrap;
    .col1 {
        flex-basis: 500px;
        flex-grow: 1;
    }
    .paragraph {
        padding: 20px 0;
    }
  }

  @media (min-width: $desktop) {
    .container_ewa {
        margin: 20px;
        .paragraph {
            padding: 0 20px;
        }

    }
  }